@import './placeholders.scss';
@import './variable.scss';


* {
  margin: 0px;
  padding: 0px;
}

.header {
  height: 70vh;
  background-image: url(./images/desktop/image-hero.jpg);
  background-size: 100% 100%;
  padding: $padding;
  &_navbar {
    @extend %flex-space-between;
    &_logo img {
      height: auto;
    }

    &_links {
      display: flex;
      gap: 30px;
      & a {
        @extend %font-alata;
        color: $White;
        text-decoration: none;
        
      }
      & a:hover {
        padding-bottom: 10px;
        border-bottom: 3px solid $White;
      }
    }
    &_hamburger {
      display: none;
    }
  }
  &_heading {
    max-width: 500px;
    font-family: "Josefin Sans", san-serif;
    font-weight: 200;
    font-size: 80px;
    color: $White;
    border: 3px solid $White;
    padding: 30px;
    margin-top: 150px;
    width: 100%;
    text-transform: uppercase;
  }
}
.container1 {
  padding: 150px 150px;
  display: flex;
  &_mobileimage {
    display: none;
  }
  &_textbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 70px 100px;
    flex-direction: column;
    gap: 30px;
    background-color: $White;
    position: relative;
    top: 180px;
    right: 150px;
    
    &_heading {
      @extend %font-josefin;
      text-transform: uppercase;
      font-size: 45px;
      line-height: 45px;
      color: $Very-Dark-Gray;
    }
    &_text {
      @extend %font-alata;
      color: $Dark-Gray;
      line-height: 25px;
      font-size: 13px;
    }
  }
}
.container2 {
  padding: $padding;
  &_heading {
    @extend %flex-space-between;

    &_text {
      text-transform: uppercase;
      @extend %font-josefin;
      font-size: 50px;
    }
    &_btn {
      border: 2px solid $Black;
      @extend %flex-center-center;
      & a {
        @extend %font-josefin;
        color: $Black;
        padding: 0px 40px;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
    &_btn:hover {
      transition: 0.3s ease-in-out;
      background-color: $Black;
    }
    &_btn:hover a {
      color: $White;
      transition: 0.3s ease-in-out;
    }
  }
  &_cards {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    // height: 1000px;
    padding: 100px 0px;

    &_one {
        height: 500px;
      background-image: url(./images/desktop/image-deep-earth.jpg);
      @extend %back-image; 
      @extend %flex-center-flexend;
      &_text {
        @extend %font-josefin;
        text-transform: uppercase;
        font-weight: 100;
        color: $White;
        font-size: 38px;
        padding: 25px 30px;
      }
    }
    &_one:hover {
      transition: 0.3s ease-in-out;
      opacity: 0.3;
      // filter: brightness(150%);
    }
    &_two {
      background-image: url(./images/desktop/image-night-arcade.jpg);
      @extend %back-image;
      @extend %flex-center-flexend;
    }
    &_two:hover {
      transition: 0.3s ease-in-out;
      opacity: 0.3;
    }
    &_two:hover p {
      color: $Black;
      opacity: 1;
    }
    &_three {
      background-image: url(./images/desktop/image-soccer-team.jpg);
      @extend %back-image;
      @extend %flex-center-flexend;
    }
    &_three:hover {
      transition: 0.3s ease-in-out;
      opacity: 0.3;
    }
    &_three:hover p {
      color: $Black;
      opacity: 1;
    }
    &_four {
      background-image: url(./images/desktop/image-grid.jpg);
      @extend %back-image;
      @extend %flex-center-flexend;
    }
    &_four:hover {
      transition: 0.3s ease-in-out;
      opacity: 0.3;
    }
    &_four:hover p {
      color: $Black;
      opacity: 1;
    }
    &_five {
        height: 500px;
      background-image: url(./images/desktop/image-from-above.jpg);
      @extend %back-image;
      @extend %flex-center-flexend;
    }
    &_five:hover {
      transition: 0.3s ease-in-out;
      opacity: 0.3;
    }
    &_five:hover p {
      color: $Black;
      opacity: 1;
    }
    &_six {
      background-image: url(./images/desktop/image-pocket-borealis.jpg);
      @extend %back-image;
      @extend %flex-center-flexend;
    }
    &_six:hover {
      transition: 0.3s ease-in-out;
      opacity: 0.3;
    }
    &_six:hover p {
      color: $Black;
      opacity: 1;
    }
    &_seven {
      background-image: url(./images/desktop/image-curiosity.jpg);
      @extend %back-image;
      @extend %flex-center-flexend;
    }
    &_seven:hover {
      transition: 0.3s ease-in-out;
      opacity: 0.3;
    }
    &_seven:hover p {
      color: $Black;
      opacity: 1;
    }
    &_eight {
      background-image: url(./images/desktop/image-fisheye.jpg);
      @extend %back-image;
      @extend %flex-center-flexend;
    }
    &_eight:hover {
      transition: 0.3s ease-in-out;
      opacity: 0.3;
    }
    &_eight:hover p {
      color: $Black;
      opacity: 1;
    }
  }
  &_mobile_btn {
    display: none;
  }
}
.footer {
  height: auto;
  background-color: $Black;
  padding: 50px 200px;
  display: grid;
 grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  &_social_media{
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    & svg:hover{
        padding-bottom: 10px;
        transition: 0.3s ease-in-out;
        border-bottom: 3px solid $White;
    }
  }
  &_options{
    display: flex;
    gap: 30px;
    & a{
        text-decoration: none;
        color: $White;
        @extend %font-josefin;
    }
    & a:hover{
        padding-bottom: 5px;
        border-bottom: 3px solid $White;
    }
  }
  &_text{
    text-align: right;
    color: $Dark-Gray;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .header {
    padding: 40px 90px;
    &_navbar {
      // flex-direction: row;
      &_links {
        display: none;
      }
      &_hamburger {
        display: flex;
        & img {
          height: 25px;
        }
      }
    }
    &_heading {
      font-size: 50px;
      max-width: 500px;
      width: 100%;
      // width: 100%;
    }
  }

  .container1 {
    flex-direction: column;
    padding: 40px 90px;
    &_image {
      & img {
        max-width: 100%;
        width: 100%;
      }
    }
    &_textbox {
      top: 0;
      right: 0;
      padding: 40px 60px;
      text-align: center;
      &_heading {
        font-size: 42px;
      }
      &_text {
        font-size: 16px;
      }
    }
  }

  .container2 {
    padding: 40px 90px;
    &_heading {
      &_text {
        font-size: 30px;
      }
      &_btn {
        padding: 7px 10px;
        font-size: 14px;
        & a {
          padding: 0px 0px;
        }
      }
    }
    &_cards {
      grid-template-columns: repeat(2, 1fr);
      padding: 80px 0px;
      &_one{
        height: auto;
      }
      &_five{
        height: auto;
      }
    }
  }

  .footer {
    padding: 40px 90px;
    flex-direction: column;
    gap: 40px;
    &_upper {
      align-items: center;
      flex-direction: column;
      gap: 30px;
    }

    &_lower {
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      &_options {
        flex-direction: column;
        gap: 25px;
        align-items: center;
      }
      &_text {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 20px 30px;
    background-image: none;
    background-image: url(./images/mobile/image-hero.jpg);
    background-size: 100% 100%;
    &_navbar {
      display: flex;
      flex-direction: row;
      align-items: center;

      &_logo {
        & img {
          height: auto;
          width: 70%;
        }
      }

      &_links {
        display: none;
      }
      &_hamburger {
        display: flex;
      }
    }
    &_heading {
      width: 89%;
      // text-align: center;

      // text-align: center;
      padding: 10px 15px;
      font-size: 40px;
    }
  }

  .container1 {
    flex-direction: column;
    padding: 20px 30px;

    &_image {
      display: none;
    }
    &_mobileimage {
      display: flex;
      width: 100%;
      & img {
        width: 100%;
      }
    }
    &_textbox {
      padding: 20px 0px;
      text-align: center;
      gap: 20px;
      position: relative;
      left: 0px;
      top: 0px;

      &_heading {
        font-size: 35px;
      }
      &_text {
        font-size: 10px;
      }
    }
  }

  .container2 {
    padding: 50px 30px;
    &_heading {
      &_text {
        font-size: 25px;

        & p {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 150%;
        }
      }
      &_btn {
        padding: 5px 10px;
        display: none;
        & a {
          padding: 0px 0px;
        }
      }
    }
    &_cards {
      grid-template-columns: repeat(1, 1fr);
      padding: 30px 0px;
      &_one {
        height: auto;
        background-image: none;
        background-image: url(./images/mobile/image-deep-earth.jpg);
        display: flex;
        justify-content: flex-start;
        padding-top: 30px;
        padding-bottom: 10px;
        padding-left: 10px;
        &_text {
          width: 50%;
          font-size: 28px;
          padding: 5px 10px;
        }
      }
      &_two {
        background-image: none;
        background-image: url(./images/mobile/image-night-arcade.jpg);
        display: flex;
        justify-content: flex-start;
        padding: 15px 5px;
      }
      &_three {
        background-image: none;
        background-image: url(./images/mobile/image-soccer-team.jpg);
        display: flex;
        justify-content: flex-start;
        padding: 15px 5px;
      }
      &_four {
        background-image: none;
        background-image: url(./images/mobile/image-grid.jpg);
        display: flex;
        justify-content: flex-start;
        padding-top: 40px;
        padding-bottom: 10px;
        padding-left: 10px;
        // padding: 25px 5px;
      }
      &_five {
        height: auto;
        background-image: none;
        background-image: url(./images/mobile/image-from-above.jpg);
        display: flex;
        justify-content: flex-start;
        padding: 15px;
      }
      &_six {
        background-image: none;
        background-image: url(./images/mobile/image-pocket-borealis.jpg);
        display: flex;
        justify-content: flex-start;
        padding: 15px;
      }
      &_seven {
        background-image: none;
        background-image: url(./images/mobile/image-curiosity.jpg);
        display: flex;
        justify-content: flex-start;
        padding: 15px;
      }
      &_eight {
        background-image: none;
        background-image: url(./images/mobile/image-fisheye.jpg);
        display: flex;
        justify-content: flex-start;
        padding: 15px;
      }
    }
    &_mobile_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      // width: 20%;
      display: flex;

      & a {
        font-family: "Josefin Sans", san-serif;
        font-weight: 300;
        border: 2px solid $Black;
        text-decoration: none;
        color: $Black;
        font-size: 18px;
        text-transform: uppercase;
        padding: 10px 25px;
      }
    }
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
      flex-direction: column;
      text-align: center;
      padding: 30px 20px;
      &_social_media{
        justify-content: center;
        order: 3;
      }
      &_options{
        flex-direction: column;
        order: 2;
      }
      &_text{
        text-align: center;
        order: 4;
      }
  
  }
}
